.app{
  margin: 0;
  font-family: "poppins";
}
.appName{
  font-size: 36px;
  text-align: center;
}
.appForm{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.inputText{
  width: 250px;
  height: 4vh;
  font-family: poppins;
  border: 1px solid grey;
  border-radius: 7px;
  padding-left: 5px;
}
.inputSearch{
  height: 4vh;
  
  border-radius: 4px;
  border: none;
  background-color: #a4aaf7;
  font-family: poppins;
  cursor: pointer;
}